@import "fonts.css";
@import "reset.css";
@import "bootstrap.css";
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
/*========COLORS VAR=======*/
body {
  background: white;
  min-width: 320px;
}
a {
  color: #68170f;
  text-decoration: underline;
}
a:hover {
  color: #d5310b;
}
h2 {
  color: #68170f;
  font-family: 'Rubik';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  padding-bottom: 28px;
}
h2:after {
  content: '';
  width: 43px;
  height: 3px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -21px;
  background: #f5dddb;
}
h2:before {
  content: '';
  width: 43px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -21px;
  background: #f5dddb;
}
/*========HEADER=======*/
header {
  padding-bottom: 43px;
  height: 40px;
  margin-bottom: 21px;
  /*========STORES=======*/
  /*========USER BLOCK=======*/
  /*========TOP MENU=======*/
}
header .user_menu {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 23px;
  padding-top: 5px;
  padding-bottom: 6px;
}
header .stores {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
  margin-bottom: -1px;
}
header .stores li {
  height: 81px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background: white;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}
header .stores li img {
  -webkit-filter: grayscale(1);
  opacity: .3;
  width: 100%;
  height: auto;
  max-height: 65px;
  transition: 0.5s all;
}
header .stores li:last-child {
  padding-left: 15px;
}
header .stores li.active img,
header .stores li:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0);
}
header .stores li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}
header .stores li.item_5 img {
  width: 76%;
  min-height: 72px;
}
header .stores li.item_4 img {
  width: 78%;
}
header .stores li.item_3 img {
  width: 93%;
}
header .stores li.item_2 img {
  width: 68%;
  min-height: 57px;
}
header .stores li.item_1 img {
  width: 98%;
}
header .user_block {
  padding-right: 30px;
  padding-top: 6px;
  height: 82px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Rubik';
}
header .user_block a.city {
  margin-right: 60px;
  text-decoration: none;
  border-bottom: 1px dashed #68170f;
  position: relative;
  margin-left: 13px;
}
header .user_block a.city:hover {
  border-bottom: 1px dashed #d5310b;
}
header .user_block a.city:hover:before {
  background-color: #d5310b;
}
header .user_block a.city:before {
  content: '';
  position: absolute;
  left: -21px;
  top: -3px;
  width: 13px;
  height: 17px;
  background-color: #68170f;
  mask: url(../img/icon_point.svg) center no-repeat;
  fill: currentColor;
}
header .user_block .user_autorization a {
  margin-right: 2px;
  float: left;
}
header .user_block .user_autorization a:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  background: #D4D4D4;
  margin-left: 5px;
  height: 15px;
  width: 1px;
  position: relative;
  top: -2px;
  margin-right: 3px;
}
header .user_block .user_autorization a:last-child {
  margin-right: 0;
}
header .user_block .user_autorization a:last-child:after {
  display: none;
}
header .top_menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: stretch;
}
header .top_menu li {
  flex: 1 0 auto;
  text-align: center;
}
header .top_menu li:after {
  content: '';
  float: right;
  width: 1px;
  height: 21px;
  opacity: 0.5;
  background: #108408;
  margin-top: -1px;
}
header .top_menu li sup {
  font-size: 14px;
  color: #d5310b;
  top: -6px;
  left: 2px;
}
header .top_menu li a {
  font-size: 15px;
  color: #000;
  font-family: 'Rubik';
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 2px;
  position: relative;
}
header .top_menu li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f5dddb;
  transition: transform 0.3s;
  transform: scaleX(0);
}
header .top_menu li a:hover {
  color: #68170f;
}
header .top_menu li a:hover:after {
  transform: scaleX(1);
  display: block;
}
header .search_button {
  width: 28px;
  height: 27px;
  display: block;
  float: right;
  margin-right: 15px;
  margin-top: -6px;
  background-color: #68170f;
  mask: url(../img/icon_search.svg) center no-repeat;
  fill: currentColor;
}
header .search_button:hover {
  background-color: #d5310b;
}
header .mobile_logo {
  width: 77px;
  height: 29px;
}
header .mobile_button {
  display: block;
  margin-top: 5px;
}
header .mobile_button span {
  display: block;
  width: 23px;
  height: 4px;
  background-color: #6a1b13;
  border-radius: 2px;
  margin-bottom: 4px;
}
header .change_store {
  text-decoration: none;
  border-bottom: 1px dashed #68170f;
  position: relative;
  margin-right: 13px;
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 22px;
}
header .change_store:after {
  content: '';
  position: absolute;
  right: -21px;
  top: 0;
  width: 13px;
  height: 17px;
  background-color: #68170f;
  mask: url(../img/icon_user.svg) center no-repeat;
  fill: currentColor;
}
header .change_store:hover {
  border-bottom: 1px dashed #d5310b;
}
header .change_store:hover:after {
  background-color: #d5310b;
}
/*========SLIDER HOME TOP=======*/
.slider {
  padding: 0;
  position: relative;
  z-index: 999;
}
.slider .bx-viewport {
  padding-bottom: 25px;
  min-height: 130px;
  margin-top: -15px;
  padding-top: 15px;
}
.slider .container {
  padding: 0;
  margin: auto;
  height: 100%;
  position: relative;
}
.slider .row {
  margin: 0;
  padding: 0;
  height: 100%;
}
.slider ul {
  overflow: hidden;
  height: 110px;
  padding-left: 30px;
  padding-right: 30px;
}
.slider li {
  height: 100%;
  position: relative;
  transition: 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
}
.slider li .image {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 12px 25px rgba(70, 11, 11, 0.3);
  transition: 0s;
  background-position: top center !important;
  background-size: normal !important;
}
.slider li .slide_content {
  position: relative;
  float: right;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.slider li .slide_content .slide_image {
  z-index: 5;
  position: absolute;
  right: -50px;
  bottom: -50px;
  width: 160px;
}
.slider li .slide_content .slide_image img {
  width: 100%;
  height: auto;
}
.slider li .slide_content .slider_text {
  min-height: 150px;
  background: #fff;
  position: absolute;
  bottom: -30px;
  padding-bottom: 45px;
  z-index: 4;
  left: 0;
  width: 120%;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 25px;
  padding-right: 55%;
  padding-top: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.slider li .slide_content .slider_text .time {
  color: #d5310b;
  font-family: 'Rubik';
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  display: block;
}
.slider li .slide_content .slider_text .time sup {
  font-size: 14px;
  top: -5px;
  left: -1px;
  letter-spacing: -0.5px;
  line-height: 18px;
}
.slider li .slide_content .slider_text .title {
  color: #333;
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 22px;
}
.slider .bx-controls {
  position: relative;
  z-index: 2;
  margin-top: -2px;
  text-align: center;
  padding-bottom: 20px;
}
.slider .bx-controls .bx-pager {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.slider .bx-controls .bx-pager .bx-pager-item a {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #108408;
  border: 2px solid transparent;
}
.slider .bx-controls .bx-pager .bx-pager-item a.active {
  position: relative;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #959595;
  background-color: transparent;
  z-index: 3;
}
.slider .bx-controls .bx-pager .bx-pager-item a.active:before {
  content: '';
  position: absolute;
  background: #959595;
  border-radius: 20px;
  width: 10px;
  left: 2px;
  top: 2px;
  height: 10px;
}
/*========RECEPTS=======*/
.recepts {
  padding-top: 5px;
  position: relative;
}
.recepts .all_recepts {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: #108408;
  text-decoration: none;
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 18px;
}
.recepts .all_recepts:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  background-color: #108408;
  mask: url(../img/arrow_more.svg) center no-repeat;
  fill: currentColor;
}
.recepts .all_recepts:hover {
  color: #68170f;
}
.recepts .all_recepts:hover:after {
  background-color: #68170f;
  mask: url(../img/arrow_more_hover.svg) center no-repeat;
  fill: currentColor;
}
.recepts .container-fluid {
  position: relative;
}
.recepts .recepts_slider {
  width: 100%;
  position: relative;
  height: 549px;
  overflow: hidden;
}
.recepts .recepts_slider .handle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 52px;
  padding-bottom: 50px;
}
.recepts .recepts_slider .handle.animated .animate_bottom {
  transform: translateY(0px);
  transition: 0.7s all;
}
.recepts .recepts_slider .handle.animated .animate_top {
  transition: 0.7s all;
  transform: translateY(0px);
}
.recepts .recepts_slider .handle.animated .animate_right {
  transition: 0.7s all;
  transform: translateX(0px);
}
.recepts .recepts_slider .handle.animated .animate_left {
  transition: 0.7s all;
  transform: translateX(0px);
}
.recepts .recepts_slider .item {
  margin-left: 15px;
  width: 237px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  overflow: hidden;
  margin-bottom: 30px;
}
.recepts .recepts_slider .item.animate_bottom {
  transform: translateY(300px);
}
.recepts .recepts_slider .item.animate_top {
  transform: translateY(-300px);
}
.recepts .recepts_slider .item.animate_right {
  transform: translateX(-300px);
}
.recepts .recepts_slider .item.animate_left {
  transform: translateX(300px);
}
.recepts .recepts_slider .item_image {
  transition: 0.5s all;
  margin-top: 0;
  margin-bottom: 0;
}
.recepts .recepts_slider .item_text {
  position: absolute;
  background: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.recepts .recepts_slider .item_text .item_title {
  padding-top: 25px;
  padding-bottom: 22px;
  color: #108408;
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.recepts .recepts_slider .item_text .item_bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-bottom: 5px;
  transition: 0.5s all;
}
.recepts .recepts_slider .item_text .item_bar .item_rating span {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 15px;
  background-color: #999;
  mask: url(../img/icon_hat.svg) center no-repeat;
  fill: currentColor;
  opacity: 0.2;
}
.recepts .recepts_slider .item_text .item_bar .item_rating span.active {
  opacity: 1;
}
.recepts .recepts_slider .item_text .item_bar .item_rating:after {
  margin-left: 30px;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 15px;
  background-color: #ccc;
}
.recepts .recepts_slider .item_text .item_bar .item_clock {
  margin-left: 25px;
  color: #999;
  font-family: 'Rubik';
  font-size: 13px;
  line-height: 14px;
}
.recepts .recepts_slider .item_text .item_bar .item_clock:before {
  content: '';
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 11px;
  margin-top: -1px;
  background-color: #999;
  mask: url(../img/icon_timer.svg) center no-repeat;
  fill: currentColor;
}
.recepts .recepts_slider .vertical {
  margin-top: -30px;
}
.recepts .recepts_slider .vertical .item {
  width: 360px;
}
/*========MAP=======*/
.map {
  height: 541px;
}
.map h2 {
  margin-bottom: 28px;
}
.map #map {
  height: 100%;
}
/*========FOOTER=======*/
footer {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
}
footer .col_footer {
  padding-top: 19px;
  float: none;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}
footer .logo_contain {
  padding-bottom: 18px;
}
footer .logo_contain .phone {
  text-align: center;
  font-family: 'Rubik';
  line-height: 24px;
  font-size: 14px;
  color: #cccccc;
}
footer .logo_contain .phone span {
  font-size: 20px;
  font-weight: 500;
  display: block;
  color: #666;
}
footer .social_buttons {
  text-align: center;
}
footer .social_buttons .hidden_phone {
  display: none;
}
footer .social_buttons .app_btn {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 135px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-left: 4px;
  margin-right: 4px;
  height: 42px;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #666;
  font-family: 'Rubik';
  line-height: 15px;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 15px;
}
footer .social_buttons .app_btn .icon {
  display: inline-block;
  vertical-align: top;
  width: 22px;
}
footer .social_buttons .app_btn .icon.apple {
  width: 21px;
  height: 25px;
  background-color: #666;
  mask: url(../img/icon_apple.svg) center no-repeat;
  fill: currentColor;
}
footer .social_buttons .app_btn .icon.google {
  width: 21px;
  height: 25px;
  background-color: #666;
  mask: url(../img/icon_google.svg) center no-repeat;
  fill: currentColor;
}
footer .social_buttons .app_btn .text {
  padding-left: 15px;
  display: inline-block;
  vertical-align: top;
}
footer .social_buttons .app_btn .text span {
  display: block;
  font-weight: 500;
}
footer .social_buttons .social_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
footer .social_buttons .social_list a {
  display: block;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
}
footer .social_buttons .social_list a.odnoklassniki {
  background-color: #dddddd;
  mask: url(../img/icon_odnoklassniki.svg) center no-repeat;
  fill: currentColor;
  transition: 0.5s all;
}
footer .social_buttons .social_list a.odnoklassniki:hover {
  background-color: #68170f;
}
footer .social_buttons .social_list a.vk {
  background-color: #dddddd;
  mask: url(../img/icon_vk.svg) center no-repeat;
  fill: currentColor;
  transition: 0.5s all;
}
footer .social_buttons .social_list a.vk:hover {
  background-color: #68170f;
}
footer .social_buttons .social_list a.fb {
  background-color: #dddddd;
  mask: url(../img/icon_facebook.svg) center no-repeat;
  fill: currentColor;
  transition: 0.5s all;
}
footer .social_buttons .social_list a.fb:hover {
  background-color: #68170f;
}
.created_box {
  background: #E6E6E6;
  display: flex;
  flex-flow: ro nowrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: 'Rubik';
  font-size: 8px;
  color: #333333;
}
.created_box .copyright {
  opacity: 0.5;
}
.created_box .created_by {
  opacity: 0.5;
}
.created_box .logo_blackedia {
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 7px;
  margin-top: -2px;
  background-color: #666;
  mask: url(../img/logo_black.svg) center no-repeat;
  fill: currentColor;
  transition: 0.5s all;
}
.created_box .logo_blackedia:hover {
  background-color: #68170f;
  opacity: 1;
}
@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 42px;
    padding-top: 30px;
    padding-bottom: 39px;
  }
  header {
    height: auto;
    margin-bottom: 0;
  }
  header .user_menu {
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: none;
  }
  header .user_block {
    padding-left: 35px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #E6E6E6;
  }
  header .user_block .user_autorization a.user_profile {
    position: relative;
    margin-left: 13px;
  }
  header .user_block .user_autorization a.user_profile:before {
    content: '';
    position: absolute;
    left: -21px;
    top: -3px;
    width: 13px;
    height: 17px;
    background-color: #68170f;
    mask: url(../img/icon_user.svg) center no-repeat;
    fill: currentColor;
  }
  header .user_block .user_autorization a.user_profile:hover:before {
    background-color: #d5310b;
  }
  header .user_block a.city {
    margin-bottom: 20px;
  }
  .slider .bx-viewport {
    min-height: 430px;
  }
  .slider ul {
    min-height: 430px;
  }
  .slider li {
    min-height: 430px;
  }
  .slider li .slide_content .slide_image {
    width: 250px;
  }
  .slider li .slide_content .slider_text {
    padding: 0;
    margin: 0;
    bottom: -20px;
    left: 0px;
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 15px;
    background-position: 15px;
    min-height: auto;
    padding-right: 25px;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 25px;
    padding-right: 45%;
    padding-bottom: 35px;
  }
  .slider li .slide_content .slider_text .time {
    font-size: 50px;
    line-height: 54px;
  }
  .slider li .slide_content .slider_text .time sup {
    font-size: 32px;
    top: -15px;
    line-height: 30px;
  }
  .slider li .slide_content .slider_text .title {
    font-size: 38px;
    line-height: 47px;
  }
  .slider li .slide_content .slider_text:before {
    content: '';
    display: block;
    background: #fff;
    border-radius: 100% 100% 0 0 ;
    width: 100%;
    top: -45px;
    left: 0;
    position: absolute;
    height: 50px;
    z-index: 1;
  }
  .recepts {
    padding-top: 10px;
  }
  .recepts .container {
    margin-left: auto;
  }
  .recepts.margin_background {
    margin-top: -180px;
    padding-top: 180px;
    background: url(../img/background_main.jpg) top center no-repeat;
    background-size: cover;
  }
  .recepts .arrow_left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 4px;
    width: 34px;
    height: 68px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 150px 150px 0;
    z-index: 9;
  }
  .recepts .arrow_left:before {
    content: '';
    display: block;
    margin-left: 7px;
    margin-top: 24px;
    width: 11px;
    height: 19px;
    background-color: #fff;
    mask: url(../img/arrow_left.svg) center no-repeat;
    fill: currentColor;
    z-index: 99;
  }
  .recepts .arrow_right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 4px;
    width: 34px;
    height: 68px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 150px 0  0 150px;
    z-index: 9;
  }
  .recepts .arrow_right:before {
    content: '';
    display: block;
    margin-left: 15px;
    margin-top: 24px;
    width: 11px;
    height: 19px;
    transform: rotate(180deg);
    background-color: #fff;
    mask: url(../img/arrow_left.svg) center no-repeat;
    fill: currentColor;
    z-index: 99;
  }
  .recepts .recepts_slider .item {
    margin-right: 30px;
    margin-left: 0;
    width: 263px;
  }
  .recepts .recepts_slider .item:hover {
    box-shadow: 0 15px 33px rgba(0, 0, 0, 0.3);
  }
  .recepts .recepts_slider .item:hover .item_bar {
    margin-bottom: 0;
  }
  .recepts .recepts_slider .item_text .item_title {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
  }
  .recepts .recepts_slider .item_text .item_bar {
    padding-bottom: 14px;
    margin-bottom: -35px;
  }
  .recepts .recepts_slider .item_text .item_bar .item_rating span {
    display: inline-block;
    vertical-align: top;
  }
  .recepts .recepts_slider .item_text .item_bar .item_rating:after {
    margin-left: 19px;
    height: 18px;
  }
  .recepts .recepts_slider .item_text .item_bar .item_clock {
    margin-left: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  .recepts .recepts_slider .item_text .item_bar .item_clock:before {
    width: 18px;
    height: 18px;
  }
  /*========STATISTIC=======*/
  .statistic {
    padding-top: 18px;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .statistic h2 {
    margin-bottom: 37px;
  }
  .statistic.animated .animate_top {
    transition: 1s transform;
    transform: translateY(0px);
  }
  .statistic .animate_top {
    transform: translateY(200px);
  }
  .statistic .item {
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    color: #BB1E10;
    font-family: 'Rubik';
    min-height: 193px;
    margin-bottom: 40px;
  }
  .statistic .item .title {
    font-size: 70px;
    font-weight: 300;
    line-height: 60px;
  }
  .statistic .item .title span {
    font-weight: normal;
  }
  .statistic .item .icon {
    position: absolute;
    right: 15px;
    bottom: -30px;
  }
  .statistic .item .icon .st1 {
    fill: #BB1E10;
  }
  .statistic .item .icon svg {
    position: relative;
    z-index: 5;
  }
  .statistic .item .icon .drop_shadow {
    top: -5px;
    z-index: -1;
    filter: drop-shadow(0px 14px 8px rgba(0, 0, 0, 0.15));
    position: absolute;
  }
  .statistic .item .text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
  }
  .statistic .item.odd {
    color: #68170f;
  }
  .statistic .item.odd .icon .st1 {
    fill: #68170f;
  }
  footer {
    overflow: hidden;
    position: relative;
  }
  footer .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  footer .col_footer {
    padding-top: 23px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .logo_contain {
    padding-bottom: 10px;
  }
  footer .logo_contain .phone {
    text-align: left;
    color: #666;
  }
  footer .social_buttons {
    text-align: left;
    padding-bottom: 15px;
  }
  footer .social_buttons .app_btn {
    display: block;
    width: 100%;
    transition: 0.5s all;
    margin-left: 0;
    margin-right: 0;
  }
  footer .social_buttons .app_btn:hover {
    box-shadow: 1.5px 2.6px 10px rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
  }
  footer .social_buttons .app_btn .text {
    padding-left: 8px;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
  }
  footer .social_buttons .app_btn .text span {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
  }
  footer .social_buttons .social_list {
    justify-content: space-between;
  }
  footer .footer_menu {
    padding-top: 15px;
    width: 100%;
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #E5E5E5;
  }
  footer .footer_menu li {
    margin-bottom: 20px;
  }
  footer .footer_menu li a {
    color: #666;
    text-decoration: none;
  }
  footer .footer_menu li a:hover {
    color: #68170f;
    text-decoration: underline;
  }
  footer .footer_menu li:last-child {
    margin-bottom: 0;
  }
  footer .title_bg {
    text-align: left;
    width: 100%;
    color: #ccc;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s all;
    padding-bottom: 8px;
  }
  footer .col_hover:hover .title_bg {
    color: #d5310b;
  }
  footer .col_hover:hover .icon_manager {
    background-color: #68170f;
    opacity: 1;
  }
  footer .col_hover:hover .icon_build {
    background-color: #68170f;
    opacity: 1;
  }
  .button_up {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    width: 67px;
    height: 28px;
    background-color: #d5310b;
    border-radius: 3px 3px 0px 0px;
    line-height: 28px;
    text-align: center;
    z-index: 9999;
  }
  .button_up:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    width: 19px;
    height: 11px;
    transform: rotate(180deg);
    mask: url(../img/arrow_up.svg) center no-repeat;
    fill: currentColor;
  }
  .button_up:hover {
    background-color: #68170f;
  }
  .created_box {
    font-size: 13px;
  }
  .created_box .logo_blackedia {
    width: 93px;
    height: 12px;
  }
}
@media (min-width: 992px) {
  header .user_block {
    padding-left: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }
  header .user_block a.city {
    margin-bottom: 0;
  }
  .slider li .slide_content .slider_elips {
    border-radius: 100%;
    width: 200%;
    height: 200%;
    top: -48%;
    margin-left: 85px;
    position: absolute;
    overflow: hidden;
    left: 0;
    background: #fff;
    z-index: 2;
    min-height: 1000px;
    min-width: 1000px;
  }
  .slider li .slide_content .slide_image {
    z-index: 3;
    position: absolute;
    right: -74px;
    top: -135px;
    width: auto;
  }
  .slider li .slide_content .slide_image img {
    width: auto;
    height: auto;
  }
  .slider li .slide_content .slider_text {
    background: none;
    position: absolute;
    bottom: 23px;
    z-index: 4;
    left: 105px;
    margin: 0;
    padding: 0;
    padding-left: 9%;
    padding-right: 25px660;
    width: auto;
  }
  .slider li .slide_content .slider_text:before {
    display: none;
  }
  .slider li .slide_content .slider_text .time {
    color: #d5310b;
    font-family: 'Rubik';
    font-size: 50px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0;
  }
  .slider li .slide_content .slider_text .time sup {
    font-size: 32px;
    top: -15px;
    left: -1px;
    letter-spacing: -0.5px;
    line-height: 30px;
  }
  .slider li .slide_content .slider_text .title {
    color: #333;
    font-family: 'Rubik';
    font-size: 38px;
    line-height: 47px;
  }
  footer .row {
    flex-flow: row nowrap;
  }
  footer .col_footer {
    float: none;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .logo_contain {
    margin-right: 15px;
    padding-bottom: 20px;
  }
  footer .logo_contain img {
    width: 100%;
    max-height: 91px;
    margin-bottom: 6px;
  }
  footer .logo_contain .phone {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
  footer .logo_contain .phone span {
    font-size: 16px;
  }
  footer .social_buttons {
    padding-bottom: 0;
  }
  footer .social_buttons .app_btn {
    width: 140px;
  }
  footer .social_buttons .app_btn .text {
    padding-top: 0;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
  }
  footer .social_buttons .app_btn .text span {
    display: block;
    font-weight: 500;
  }
  footer .social_buttons .social_list {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  footer .social_buttons .social_list a {
    margin: 0;
  }
  footer .footer_menu {
    width: 38%;
    font-family: 'Rubik';
    font-size: 12px;
    line-height: 16px;
    padding-left: 15px;
    border-left: 1px solid #E5E5E5;
    border-top: 0;
    padding-top: 0;
    margin-left: 15px;
  }
  footer .footer_menu li {
    margin-bottom: 15px;
  }
  footer .footer_menu li a {
    color: #666;
    text-decoration: none;
  }
  footer .footer_menu li a:hover {
    color: #68170f;
    text-decoration: underline;
  }
  footer .footer_menu li:last-child {
    margin-bottom: 0;
  }
  footer .title_bg {
    margin-top: -4px;
    text-align: center;
    width: 50%;
    color: #ccc;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s all;
  }
  footer .title_bg .icon_manager {
    position: absolute;
    bottom: -17px;
    background-color: #dddddd;
    mask: url(../img/footer_bg_manager.svg) left no-repeat;
    fill: currentColor;
    width: 185px;
    height: 125px;
    opacity: 0.3;
    transition: 0.5s all;
  }
  footer .title_bg .icon_build {
    position: absolute;
    bottom: -17px;
    background-color: #dddddd;
    mask: url(../img/footer_bg_build.svg) left no-repeat;
    fill: currentColor;
    width: 185px;
    height: 125px;
    opacity: 0.3;
    transition: 0.5s all;
  }
  footer .col_hover:hover .title_bg {
    color: #d5310b;
  }
  footer .col_hover:hover .icon_manager {
    background-color: #68170f;
    opacity: 1;
  }
  footer .col_hover:hover .icon_build {
    background-color: #68170f;
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  footer .logo_contain .phone {
    font-size: 14px;
    line-height: 24px;
  }
  footer .logo_contain .phone span {
    font-size: 20px;
  }
  footer .footer_menu {
    font-size: 14px;
  }
  footer .footer_menu li {
    margin-bottom: 20px;
  }
}
@media (min-width: 1560px) {
  header .stores li {
    height: 111px;
  }
  header .stores li img {
    height: 92px;
  }
  header .stores li.item_3 img {
    max-height: 36px;
  }
  header .stores li.item_4 img {
    max-height: 54px;
  }
  header .user_block {
    height: 111px;
  }
  .slider li .slide_content .slide_image {
    right: -54px;
    top: -105px;
    width: 410px;
  }
  .slider li .slide_content .slide_image img {
    width: 100%;
    height: auto;
  }
  footer .logo_contain {
    width: 38%;
  }
  footer .logo_contain img {
    margin-bottom: 20px;
  }
  footer .logo_contain .phone {
    color: #cdcdcd;
  }
  footer .logo_contain .phone span {
    display: none;
  }
  footer .social_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-bottom: 25px;
  }
  footer .social_buttons .app_buttons {
    margin-right: 30px;
  }
  footer .social_buttons .app_buttons a {
    width: 100%;
  }
  footer .social_buttons .app_buttons a .text {
    padding-top: 6px;
  }
  footer .social_buttons .app_buttons a .text span {
    display: inline-block;
    vertical-align: top;
  }
  footer .social_buttons .social_list {
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
  }
  footer .social_buttons .hidden_phone {
    width: 100%;
    margin-top: 10px;
    font-family: 'Rubik';
    color: #666;
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
  }
}
/*========HEADER=======*/
/*
.test{
	width: 50px;
	height: 50px;
	outline: 10px solid green;
	background-color: #68170f;
	mask:url(../img/icon_search.svg) center no-repeat;
	fill: currentColor;
} */
