@media (min-width: 768px) {
  header {
    height: auto;
    margin-bottom: 0;
  }
  header .user_menu {
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: none;
  }
  header .user_block {
    padding-left: 35px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #E6E6E6;
  }
  header .user_block a.city {
    margin-bottom: 20px;
  }
  .slider .bx-viewport {
    min-height: 430px;
    max-height: 650px;
  }
  .slider ul {
    min-height: 430px;
    max-height: 610px;
  }
  .slider li {
    min-height: 430px;
    max-height: 650px;
  }
  .slider li .slide_content .slider_elips {
    border-radius: 50%;
    width: 250%;
    height: 120%;
    top: auto;
    margin-left: -75%;
    margin-top: 0;
    bottom: -85%;
  }
}
@media (min-width: 992px) {
  header .user_block {
    padding-left: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }
  header .user_block a.city {
    margin-bottom: 0;
  }
  .slider li .slide_content .slider_elips {
    border-radius: 457px 0px 0px 546px;
    width: 1077px;
    height: 1014px;
    top: 72%;
    bottom: auto;
    margin-top: -507px;
    margin-left: 85px;
  }
}
