@color_red: #68170f;
@color_red_light: #BB1E10;
@color_orange: #d5310b;
@color_green: #108408;
@color_pink: #f5dddb;
@color_gray: #d0ccc5;
@media (max-width: 768px) {
	.button_up{
		//display: none !important;
	}
}
@media (min-width: 768px) {
	.store_full{
		.tags_list{
			display: flex;
			flex-flow:row wrap;
			.tag{
				width: 49%;
			}
		}
	}
	h2{
		font-size: 40px;
		line-height: 42px;
		padding-top: 30px;
		padding-bottom: 39px;
	}
	.news_list, .discounts_list{
		.item{
			.share_list{
				justify-content: flex-start;
				a{
					margin-right: 4px;
					margin-left: 4px;
				}
			}
		}
	}
	header{
		height: auto;
		margin-bottom: 0;
		.user_menu{
			padding-bottom: 0;
			padding-top: 0;
			box-shadow: none;
		}
		.user_block{
			padding-left: 35px;
			flex-flow:column wrap;
			justify-content: center;
			align-items: flex-start;
			border-bottom:1px solid #E6E6E6;
			.user_autorization{
				a{
					float: none;
					&.user_profile{
						width: auto;
						height: auto;
						float: none;
						background: none;
						mask:none;
						position: relative;
						margin-left: 13px;
						svg{
							position: absolute;
							left: -21px;
							top: -1px;
							width: 13px;
							height: 17px;
							fill: @color_red;
						}
						&:hover{
							svg{
								fill: @color_orange;
							}
						}
					}
				}
			}
			a.city{
				margin-bottom: 20px;
			}
		}
	}
	.slider{
		.bx-viewport{
			min-height: 430px;
		}
		ul{
			min-height: 430px; 
		}
		li{
			min-height: 430px;
			.slide_content{
				.slide_image{
					width: 250px;
				}
				.slider_text{
					padding: 0;
					margin: 0;
					bottom: -20px;
					left: 0px;
					margin-right: -10px;
					margin-left: -10px;
					padding-top: 15px;
					background-position: 15px;
					min-height: auto;
					padding-right: 25px;
					display: flex;
					flex-flow:column nowrap;
					padding-left: 25px;
					padding-right: 45%;
					padding-bottom: 35px;
					.time{
						font-size: 50px;
						line-height: 54px;
						sup{
							font-size: 32px;
							top: -15px;
							line-height: 30px;
						}
					}
					.title{
						font-size: 38px;
						line-height: 47px;
					}
					&:before{
						content: '';
						display: block;
						background: #fff;
						border-radius: 100% 100% 0 0 ;
						width: 100%;
						top: -45px;
						left: 0;
						position: absolute;
						height: 50px;
						z-index: 1;
					}
				}
			}
		}
	}
	.recepts{
		padding-top: 10px;
		.container{
			margin-left: auto;
		}
		&.margin_background{
			margin-top: -180px;
			padding-top: 180px;
			background: url(../img/background_main.jpg) top center no-repeat;
			background-size: cover;
		}
		.arrow_left{
			display: none;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top:4px;
			width: 34px;
			height: 68px;
			background: rgba(0,0,0,.6);
			border-radius: 0 150px 150px 0;
			z-index: 9;
			&:before{
				content: '';
				display: block;
				margin-left: 7px;
				margin-top:24px;
				width: 11px;
				height: 19px;
				background:url(../img/arrow_left.svg) center no-repeat;
				z-index: 99;
			}
		}
		.arrow_right{
			position: absolute;
			right: 0;
			top: 50%;
			margin-top:4px;
			width: 34px;
			height: 68px;
			background: rgba(0,0,0,.6);
			border-radius: 150px 0  0 150px;
			z-index: 9;
			&:before{
				content: '';
				display: block;
				margin-left: 15px;
				margin-top:24px;
				width: 11px;
				height: 19px;
				transform:rotate(180deg);
				background:url(../img/arrow_left.svg) center no-repeat;
				z-index: 99;
			}
		}
		.recepts_slider{
			.item{
				margin-right: 30px;
				margin-left: 0;
				width: 263px;
				&:hover{
					box-shadow: 0 15px 33px rgba(0, 0, 0, 0.3);
					.item_bar{
						margin-bottom: 0;
					}
				}
				&_text{
					.item_title{
						padding-top: 22px;
						padding-bottom: 22px;
						font-size: 18px;
						line-height: 24px;
					}
					.item_bar{
						padding-bottom: 14px;
						margin-bottom: -35px;
						.item_rating{
							span{
								display: inline-block;
								vertical-align: top;
							}
							&:after{
								margin-left: 19px;
								height: 18px;
							}
						}
						.item_clock{
							margin-left: 20px;
							font-size: 16px;
							line-height: 18px;
							&:before{
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
		}
	}
	.statistic{
		padding-top: 18px;
		padding-bottom: 20px;
		overflow: hidden;
		h2{
			margin-bottom: 37px;
		}
		&.animated{
			.item{
				opacity: 1;
			}
			.animate_top{
				transition:1s transform;
				transform:translateY(0px);
			}
		}
		.animate_top{
			transform:translateY(200px);
		}
		.item{
			opacity: 0;
			position: relative;
			.item_container{
				position: relative;
				box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
				background: #fff;
				padding-top: 28px;
				padding-left: 20px;
				padding-right: 20px;
				color: @color_red_light;
				font-family: 'Rubik';
				min-height: 193px;
				margin-bottom: 40px;
				z-index: 2;
			}
			.title{
				font-size: 70px;
				font-weight: 300;
				line-height: 60px;
				span{
					font-weight: normal;
				}
			}
			.icon{
				position: absolute;
				right: 15px;
				bottom: -30px;
				.st1{
					fill:@color_red_light;
					stroke:none;
				}
				.st0{
					stroke:#fff;
					fill:#fff;
				}
				svg{
					position: relative;
					z-index: 5;
				}
			}
			.text{
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 300;
			}
			.drop_shadow{
				right: 15px;
				bottom: -28px;
				z-index: 0;
				position: absolute;
				svg{
					filter: drop-shadow( 0px 14px 8px hsla(0, 0%, 0%, 0.15)) !important;
				}
				.st1{
					fill:#fff !important;
				}
			}
			&.odd{
				.item_container{
					color: @color_red;
				}
				.icon{
					.st1{
						fill:@color_red;
					}
				}
			}
		}
	}
	footer{
		overflow: hidden;
		position: relative;
		.row{
			display: flex;
			flex-flow:row nowrap;
			justify-content: flex-start;
		}
		.col_footer{
			padding-top: 23px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
			flex-flow:column nowrap;
			justify-content: flex-start;
			align-items: center;
			padding-bottom: 0;
			padding-left: 30px;
			padding-right: 30px;
		}
		.logo_contain{
			padding-bottom: 10px;
			.phone{
				text-align: left;
				color: #666;
			}
		}
		.social_buttons{
			text-align: left;
			padding-bottom: 15px;
			.app_btn{
				display: block;
				width: 100%;
				transition:0.5s all;
				margin-left: 0;
				margin-right: 0;
				&:hover{
					box-shadow: 1.5px 2.6px 10px rgba(0, 0, 0, 0.15);
					background-color: #fafafa;
				}
				.text{
					padding-left: 8px;
					display: inline-block;
					vertical-align: top;
					padding-top: 6px;
					span{
						display: inline-block;
						vertical-align: top;
						font-weight: 500;
					}
				}
			}
			.social_list{
				justify-content: space-between;
			}
		}
		.footer_menu{
			padding-top: 15px;
			width: 100%;
			font-family: 'Rubik';
			font-size: 14px;
			line-height: 16px;
			border-top: 1px solid #E5E5E5;
			li{
				margin-bottom: 20px;
				a{
					color: #666;
					text-decoration: none;
					&:hover{
						color: @color_red;
						text-decoration: underline;
					}
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.title_bg{
			text-align: left;
			width: 100%;
			color: #ccc;
			font-family: 'Rubik';
			font-size: 20px;
			font-weight: 300;
			line-height: 26px;
			text-transform: uppercase;
			position: relative;
			transition:0.5s all;
			padding-bottom: 8px;
			svg{
				display: none;
				width: 185px;
				height:125px;
				margin-bottom: -17px;
				.st0{
					stroke: #dddddd;
					fill: #dddddd;
					transition:0.5s all;
				}
				.st1{
					fill: #dddddd;
					transition:0.5s all;
				}
			}
		}
		.col_hover{
			&:hover{
				.title_bg{
					color: @color_orange;
				}
				.icon{
					svg{
						.st0{
							stroke: @color_red;
							fill: @color_red;
						}
						.st1{
							fill: @color_red;
						}
					}
					opacity: 1;
				}
			}
		}
	}
	.created_box{
		font-size: 13px;
		.logo_blackedia{
			width: 93px;
			height: 12px;
		}
	}
	.popup_window{
		.popup_container{
			top: 15%;
			padding: 30px;
			.title{
				font-size: 30px;
				line-height: 30px;
			}
			.close{
				top: 30px;
				right: 30px;
			}
		}
		&#popup_get_city{
			form{
				padding-top: 63px;
				margin-bottom: 20px;
			}
		}
	}
	.news{
		.button{
			width: auto;
		}
	}
	.subscribe{
		margin-left: 30px;
		margin-right: 30px;
		padding-top: 45px;
		padding-bottom: 45px;
		text-align: center;
		.title{
			margin-bottom: 30px;
			line-height: 30px;
			font-size: 24px;
		}
		form{
			flex-flow:row nowrap;
			input[type=text]{
				width: 325px;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
				margin-bottom: 0;
			}
			input[type=submit]{
				width: auto;
			}
		}
	}
	.discounts_list{
		.item{
			.image{
				max-height: 280px;
			}
		}
	}
	.discounts_full{
		h2{
			text-align: center;
			padding-bottom: 39px;
			margin-bottom: 10px;
			&:before, &:after{
				display: block;
			}
		}
		.discounts_content{
			max-width: 551px;
			text-align: center;
			.date{
				margin-bottom: 40px;
				font-size: 24px;
			}
			.description{
				line-height: 25px;
				font-size: 16px;
			}
		}
	}
	.get_stores{
		.filter_stores{
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 50px;
		}
		.search_city{
			position: absolute;
			z-index: 2;
			left: 25px;
			top: 25px;
			font-size: 14px;
			width: 263px;
		}
		.stores_container, .stores_map{
			height: 563px;
		}
		.select_all_cat{
			margin-top: 8px;
		}
		.stores_list{
			overflow: hidden;
			height: 563px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
			background: #108408;
			li{
				background: #108408;
				font-size: 16px;
				color: #fff;
				font-family: 'Rubik';
				line-height: 22px;
				overflow: hidden;
				position: relative;
				padding-top: 15px;
				min-height: 267px;
				padding-left: 30px;
				padding-right: 30px;
				&.message{
					text-align: center;
				}
				&:after{
					content: '';
					width: 0px;
					height: 0px;
					border-right: 10px solid transparent;
					border-left: 10px solid transparent;
					border-top: 24px solid rgba(0, 0, 0, 1);
					position: absolute;
					left: 50%;
					top: 100%;
				}
				img{
					display: none;
				}
				.items_set{
					&:after{
						content: '';
						width: 100%;
						height: 1px;
						background: rgba(255,255,255, 0.2);
						display: block;
					}
					margin-bottom: 14px;
				}
				.item{
					margin-bottom: 14px;
					display: flex;
					flex-flow:row nowrap;
					padding-right: 15px;
					.icon{
						margin-right: 10px;
						width: 16px;
						padding-top: 2px;
						svg{
							width: 16px;
							fill:#fff;
							height: auto;
						}
					}
				}
				.icon_set{
					width: 100%;
					display: flex;
					justify-content: flex-start;
					flex-flow:row wrap;
					align-items: center;
					svg{
						margin-right: 30px;
						width: 24px;
						height: auto;
						margin-bottom: 18px;
						fill: black;
					}
				}
				.more_link{
					display: block;
					font-size: 14px;
					color: #fff;
					margin-bottom: 15px;
				}
				&.active{
					position: relative;
					z-index: 2;
					background: #3eaa36;
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
				}
			}
		}
	}
	.feedback{
		box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
		background: url(../img/bg_feedback.jpg) center no-repeat;
		background-size: cover;
		padding-top: 109px;
		padding-bottom: 168px;
		.feedback_container{
			max-width: 710px;
			box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3);
			padding-bottom: 35px;
			input[type=submit]{
				width: 165px;
			}
			h2{
				padding-top: 30px;
				margin-bottom: 50px;
			}
			.pull-left{
				float: left !important;
			}
		}
	}
	.contacts{
		.contact_container{
			max-width: 405px;
			margin: auto;
			.title{
				text-align: left;
			}
		}
	}
	.vakansy{
		.vakansy_filter{
			padding-left: 25px;
			padding-right: 25px;
			padding-bottom: 28px;
			display: block !important;
			position: relative;
			left: 0;
			top: 0;
			margin-left: 0;
			height: auto;
		}
		.vakansy_list{
			.search_reslut{
				text-align: left;
			}
		}
	}
	.vakancy_full{
		.vakansy_params{
			display: flex;
			flex-flow:row nowrap;
			align-items: stretch;
			& > div{
				text-align: left;
				display: flex;
				//outline: 1px solid red;
				position: relative;
				flex-flow:row nowrap;
				align-items: stretch;
				justify-content: center;
				padding-top: 4px;
				padding-bottom: 4px;
				margin-bottom: 0;
				&:after{
					position: absolute;
					right: 0;
					top: 0px;
					content: '';
					display: inline-block;
					vertical-align: top;
					width: 1px;
					height: 100%;
					background-color: #f5dddb;
					border-radius: 1px;
				}
			}
			div:last-child{
				&:after{
					display: none;
				}
			}
		}
		.vakansy_container{
			.map_vakansy{
				height: 550px;
			}
		}
	}
	.about{
		.about_conteiner{
			.service_list{
				li{
					display: flex;
					flex-flow:row nowrap;
					margin-bottom: 40px;
					.icon{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.player{
		height: 580px;
		video{
			height: 580px;
		}
	}
	.recepts_full{
		.recepts_content{
			h1{
				font-size: 40px;
				line-height: 42px;
				margin-top: 6px;
				margin-bottom: 20px;
			}
			.repect_ingridients{
				.button{
					width: 360px;
				}
				ul{
					li{
						width: 50%;
					}
				}
			}
		}
	}
	.discounts_card{
		.discounts_card_content{
			.card_info{
				flex-flow: row nowrap;
				.icon{
					margin-bottom: 0;
					min-width: 124px;
					height: 124px;
					svg{
						width: 61px;
						height: 65px;
					}
				}
				.text{
					padding-left: 40px;
				}
			}
		}
	}
	.history{
		.history_list{
			.item{
				.image{
					height: 193px;
				}
			}
		}
	}
	.history_full{
		.history_content{
			h1{
				font-size: 40px;
				line-height: 50px;
			}
		}
	}
	.page_date{
		.page_date_conteiner{
			.date_list{
				&:before{
					content: '';
					position: absolute;
					left: 28px;
					top: 0;
					height: 100%;
					width: 3px;
					background-color: #f5dddb;
				}
				li{
					display: flex;
					flex-flow:row nowrap;
					align-items: flex-start;
					.year{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.catalog{
		.catalog_bar{
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 0;
			background-color: white;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
		.catalog_middle{
			position: relative;
			margin-top: 0;
		}
		.catalog_list{
			padding-left: 15px;
			padding-right: 15px;
			.item{
				img{
					width: 50%;
					&:first-child{
						float: left;
						display: block;
					}
					&:last-child{
						float: right;
					}
				}
			}
		}
	}
	.buy_list{
		h2:first-child{
			font-size: 50px;
			margin-top: 47px;
			padding-top: 0;
			padding-bottom: 40px;
			margin-bottom: 68px;
		}
		.nopadding{
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
		.category_title{
			padding-left: 30px;
			&.color_blue{
				.icon{
					svg{
						width: 51px;
						height: 45px;
					}
				}
			}
			.title{
				font-size: 20px;
			}
			.remove{
				margin-right: 30px;
			}
		}
		.product_options{
			padding-left: 0;
			padding-right: 0;
			.option{
				flex-flow:row nowrap;
				margin-bottom: 33px;
				.field{
					margin-right: 15px;
					&.select_field{
						margin-bottom: 0;
					}
					&.num_field{
						width: 100%;
						max-width: 135px;
					}
					&.desc_field{
						width: 100%;
						margin-right: 15px;
						max-width: 135px;
					}
					&.remove_field{
						display: block;
					}
				}
			}
		}
		.add_category{
			margin-left: 0;
			margin-right: 0;
			box-shadow: none;
			padding-bottom: 0;
			margin-bottom: 0;
			.title{
				margin-left: 0;
				margin-right: 0;
				padding-top: 12px;
				padding-bottom: 12px;
				border:none;
				color: @color_red;
				box-shadow: 0 2px 10px rgba(104, 23, 15, 0.2);
				justify-content: flex-start;
				svg{
					display: block;
				}
			}
			ul.list{
				height: auto;
				display: flex;
				flex-flow:row wrap;
				margin-left: 0;
				margin-right: 0;
				li{
					width: 50%;
				}
			}
		}
		.list_items{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.recepts_list{
		.recepts_slider{
			justify-content: flex-start;
		}
		.dropdown_filter{
			display: block;
			position: relative;
			overflow: visible;
		}
		.filter_recepts{
			.chekbox_list{
				border:0;
				display: flex;
				flex-flow:row wrap;
				margin-bottom: 0;
				.field{
					width: 100%;
				}
			}
			.js_select{
				margin-bottom: 0;
			}
			input[type=submit]{
				width: 100%;
				display: block;
				margin: auto;
			}
		}
	}
}
@media (min-width: 992px) {
	.recepts_full{
		.share_links{
			.share_tabs{
				justify-content: flex-end;
			}
			.title{
				text-align: left;
			}
			.share_list{
				justify-content: flex-start;
			}
		}
	}
	.feedback{
		.feedback_container{
			max-width: 810px;
		}
	}
	.recepts_list{
		.filter_recepts{
			.chekbox_list{
				.field{
					width: 50%;
				}
			}
		}
	}
	.vakansy{
		.vakansy_list{
			.item{
				.logo{
					display: block;
				}
			}
		}
	}
	.catalog{
		.catalog_slider{
			.arrow_left{
				display: block;
			}
			.arrow_right{
				display: block;
			}
			.items_container{
				width: 786px;
				height: 612px;
			}
			.items{
				height: 612px;
				.shadow_right{
					.item_shadow{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						z-index: 9999;
						box-shadow:inset -7px -1px 9px 0px rgba(50, 50, 50, 0.35);
					}
				}
				.shadow_left{
					.item_shadow{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						z-index: 9999;
						box-shadow:inset 7px -1px 9px 0px rgba(50, 50, 50, 0.35);
					}
				}
			}
		}
	}
	header{
		.user_block{
			padding-left: 0;
			flex-flow:row nowrap;
			align-items: center;
			justify-content:flex-end;
			a.city{
				margin-bottom: 0;
			}
		}
	}
	.slider{
		li{
			.slide_content{
				.slider_elips{
					border-radius: 100%;
					width: 200%;
					height: 200%;
					top: -48%;
					margin-left: 85px;
					position: absolute;
					overflow: hidden;
					left: 0;
					background: #fff;
					z-index: 2;
					min-height: 1000px;
					min-width: 1000px;
				}
				.slide_image{
					z-index: 3;
					position: absolute;
					right: -74px;
					top: -135px;
					width: auto;
					img{
						width: auto;
						height: auto;
					}
				}
				.slider_text{
					background: none;
					position: absolute;
					bottom: 23px;
					z-index: 4;
					left: 105px;
					margin: 0;
					padding: 0;
					padding-left: 9%;
					padding-right: 25px660;
					width: auto;
					&:before{
						display: none;
					}
					.time{
						color: @color_orange;
						font-family: 'Rubik';
						font-size: 50px;
						font-weight: 500;
						line-height: 54px;
						letter-spacing: 0;
						sup{
							font-size: 32px;
							top: -15px;
							left: -1px;
							letter-spacing: -0.5px;
							line-height: 30px;
						}
					}
					.title{
						color: #333;
						font-family: 'Rubik';
						font-size: 38px;
						line-height: 47px;
					}
				}
			}
		}
	}
	footer{
		.row{
			flex-flow:row nowrap;
		}
		.col_footer{
			float: none;
			flex-flow:row nowrap;
			justify-content: space-around;
			align-content: flex-start;
			align-items: stretch;
			padding-left: 15px;
			padding-right: 15px;
		}
		.logo_contain{
			margin-right: 15px;
			padding-bottom: 20px;
			img{
				width: 100%;
				max-height: 91px;
				margin-bottom: 6px;
			}
			.phone{
				text-align: center;
				line-height: 20px;
				font-size: 12px;
				span{
					font-size: 16px;
				}
			}
		}
		.social_buttons{
			padding-bottom: 0;
			.app_btn{
				width: 140px;
				.text{
					padding-top: 0;
					padding-left: 15px;
					display: inline-block;
					vertical-align: top;
					span{
						display: block;
						font-weight: 500;
					}
				}
			}
			.social_list{
				flex-flow:row nowrap;
				justify-content: space-between;
				a{
					margin: 0;
				}
			}
		}
		.footer_menu{
			width: 38%;
			font-family: 'Rubik';
			font-size: 12px;
			line-height: 16px;
			padding-left: 15px;
			border-left: 1px solid #E5E5E5;
			border-top: 0;
			padding-top: 0;
			margin-left: 15px;
			li{
				margin-bottom: 15px;
				a{
					color: #666;
					text-decoration: none;
					&:hover{
						color: @color_red;
						text-decoration: underline;
					}
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.title_bg{

			margin-top: -4px;
			text-align: center;
			width: 50%;
			color: #ccc;
			font-family: 'Rubik';
			font-size: 20px;
			font-weight: 300;
			line-height: 26px;
			text-transform: uppercase;
			position: relative;
			transition:0.5s all;
			svg{
				display: block;
			}
			.icon{
				position: absolute;
				bottom: -17px;
				opacity: 0.3;
				transition:0.5s all;
			}
		}
	}
	
}
@media (min-width: 1200px) {
	footer{
		.logo_contain{
			.phone{
				font-size: 14px;
				line-height: 24px;
				span{
					font-size: 20px;
				}
			}
		}
		.footer_menu{
			font-size: 14px;
			li{
				margin-bottom: 20px;
			}
		}
	}
}
@media (min-width: 1560px) {
	.history{
		.history_list{
			.item{
				.image{
					height: 260px;
				}
			}
		}
	}
	.history_full{
		.history_list{
			.item{
				.image{
					height: 200px;
				}
			}
		}
	}
	header{
		.stores{
			li{
				height: 111px;
				img{
					height: 92px;
				}
				&.item_3 img{
					max-height: 36px;
				}
				&.item_4 img{
					max-height: 54px;
				}
			}
		}
		.user_block{
			height: 111px;
		}
	}
	.slider{
		li{
			.slide_content{
				.slide_image{
					right: -54px;
					top: -105px;
					width: 410px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	footer{
		.logo_contain{
			width: 38%;
			img{
				margin-bottom: 20px;
			}
			.phone{
				color: #cdcdcd;
				span{
					display: none;
				}
			}
		}
		.social_buttons{
			display: flex;
			flex-flow:row nowrap;
			justify-content: flex-start;
			padding-bottom: 25px;
			.app_buttons{
				margin-right: 30px;
				a{
					width: 100%;
					.text{
						padding-top: 6px;
						span{
							display: inline-block;
							vertical-align: top;
						}
					}
				}
			}
			.social_list{
				padding-left: 15px;
				padding-right: 10px;
				display: flex;
				flex-flow:column nowrap;
				justify-content: stretch;
				align-items: stretch;
			}
			.hidden_phone{
				width: 100%;
				margin-top: 10px;
				font-family: 'Rubik';
				color: #666;
				font-weight: 500;
				display: block;
				text-align: center;
				line-height: 20px;
				font-size: 20px;
			}
		}
	}
	.discounts_list{
		.item{
			.image{
				max-height: 285px;
			}
		}
	}
	.discounts_full{
		.discounts_content{
			max-width: 650px;
		}
	}
}