@import "fonts.css";
@import "reset.css";
@import "bootstrap.css";
@import "sprite";

/*========COLORS VAR=======*/
@color_red: #68170f;
@color_red_light: #BB1E10;
@color_orange: #d5310b;
@color_green: #108408;
@color_pink: #f5dddb;
@color_gray: #d0ccc5;

body{
	background: white;
	min-width: 320px;
}
body.scroll_lock {
	position: fixed;
	overflow-x: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: none;
}
a{
	color: @color_red;
	text-decoration: underline;
	&:hover{
		color: @color_orange;
	}
}
h2{
	color: @color_red;
	font-family: 'Rubik';
	font-size: 30px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	padding-top: 10px;
	position: relative;
	padding-bottom: 28px;
	&:after{
		content: '';
		width: 43px;
		height: 3px;
		position: absolute;
		bottom: 8px;
		left: 50%;
		margin-left: -21px;
		background: @color_pink;
	}
	&:before{
		content: '';
		width: 43px;
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -21px;
		background: @color_pink;
	}
}
input[type=submit],
button{
	padding-top: 14px;
	padding-bottom: 13px;
	padding-left: 25px;
	padding-right: 25px;
	border:0;
	background-color: @color_orange;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	color: white;
	font-family: 'Rubik';
	font-size: 17px;
	font-weight: 300;
	line-height: 18px;
	text-transform: uppercase;
	&:hover, &:active{
		background-color: @color_red;
	}
}
input[type=text],
input[type=email],
input[type=password]{
	background-color: white;
	border: 1px solid #acacac;
	border-radius: 3px;
	height: 45px;
	font-size: 16px;
	font-family: Rubik;
	color: #000;
	line-height: 18px;
	padding-left: 15px;
	display: block;
	&:focus{
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	}
}
.radio + label {
	cursor: pointer;
	color: #666;
	font-family: 'Rubik';
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.radio:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio:not(checked) + label {
	position: relative;
	padding: 0 0 0 26px;
	user-select: none;
	margin-right: 50px;
}

.radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	border: 1px solid @color_green;
	border-radius: 8px;
	padding: 2px;
}
.radio:checked + label:after {
	border: 1px solid @color_red;
	border-radius: 8px;
}
.radio:checked + label:before{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 8px;
	width: 10px;
	height: 10px;
	background: @color_red;
}
.checkbox + label {
	cursor: pointer;
	color: #666;
	font-family: 'Rubik';
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 26px;
	user-select: none;
	margin-right: 50px;
}

.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	border: 1px solid @color_green;
	border-radius: 3px;
	padding: 2px;
}
.checkbox:checked + label:after {
	border: 1px solid @color_red;
	border-radius: 3px;
}
.checkbox:checked + label:before{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 3px;
	width: 10px;
	height: 10px;
	background: @color_red;
}
.js_select {
	position: relative;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	.js_selected {
		position: relative;
		color: black;
		font-family: 'Rubik';
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		height: 45px;
		padding-right: 20px;
		overflow: hidden;
		color: #3F3737;
		cursor: pointer;
		background-color: white;
		border: 1px solid #acacac;
		border-radius: 3px;
		display: flex;
		padding-top: 2px;
		align-items: center;
	}
	.js_selected{
		span {
			padding-left: 15px;
		}
		.js_select_arrow {
			
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -8px;
			svg{
				width: 15px;
				height: 9px;
				.st0{
					stroke: @color_red;
					stroke-width:1;
					fill:none;
				}
			}
		}
	}
	&.opened{
		.js_selected{
			border: 1px solid #e2e2e2;
			border-bottom: 0;
		}
		ul{
			display: block;
			border: 1px solid #e2e2e2;
			border-top: 0;
		}
		.js_selected{
			.js_select_arrow{
				transform:rotate(-180deg);
			}
		}
	}
	ul {
		width: 100%;
		z-index: 999;
		position: absolute;
		border: 1px solid #e2e2e2;
		border-top: 0;
		background: #fff;
		overflow: hidden;
		padding-left: 15px;
		padding-right: 15px;
		color: #3F3737;
		display: none;
		li {
			cursor: pointer;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
			height: 45px;
			font-family: 'Rubik';
			border-top: 1px solid @color_pink;
			display: flex;
			align-items: center;
			&:hover {
				color: @color_red;
			}
			&:last-child {

			}
		}
	}
}

//MOBILE <768px
/*========HEADER=======*/
.dropdown_menu{
	display: none;
	position: absolute;
	background: #fff;
	top: 40px;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding-top: 28px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	a.city{
		margin-right: 60px;
		text-decoration: none;
		position: relative;
		margin-left: 21px;
		margin-bottom: 28px;
		font-size: 16px;
		font-family: 'Rubik';
		display: inline-block;
		vertical-align: top;
		svg{
			position: absolute;
			left: -21px;
			top: 0px;
			width: 13px;
			height: 17px;
			fill: @color_red;
		}
		span{
			border-bottom: 1px dashed @color_red;
		}
		&:hover{
			span{
				border-bottom: 1px dashed @color_orange;
			}
			svg{
				fill: @color_orange;
			}
		}
	}
	ul{
		li{
			a{
				text-transform: uppercase;
				font-size: 15px;
				color: #000;
				font-family: 'Rubik';
				font-weight: 500;
				text-decoration: none;
				display: block;
				border-bottom: 1px solid @color_green;
				padding-bottom: 14px;
				margin-bottom: 15px;
				sup{
					font-size: 14px;
					color: @color_orange;
					top: -6px;
					left: 2px;
				}
			}
			&:last-child{
				a{
					border-bottom: 0;
				}
			}
		}
	}
}
header{
	padding-bottom: 43px;
	height: 40px;
	margin-bottom: 21px;
	position: relative;
	z-index: 999999;
	background: #fff;
	.user_menu{
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
		margin-bottom: 23px;
		padding-top: 5px;
		padding-bottom: 6px;
	}

	/*========STORES=======*/
	.stores{
		display: flex;
		flex-flow:row nowrap;
		flex-direction: row-reverse;
		margin-bottom: -1px;
		li{
			height: 81px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
			width: 20%;
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
			background: white;
			position: relative;
			display: flex;
			flex-flow:row;
			justify-content: center;
			align-items: center;
			transition:0.5s all;
			img{
				-webkit-filter:grayscale(1);
				opacity: .3;
				width: 100%;
				height: auto;
				max-height: 65px;
				transition:0.5s all;
			}
			&:last-child{
				padding-left: 15px;
			}
			&.active, &:hover{
				img{
					opacity: 1;
					-webkit-filter:grayscale(0);
				}
			}
			&:hover{
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
			}
		}
		li.item_5{
			img{
				width: 76%;
				min-height: 72px;
			}
		}
		li.item_4{
			img{
				width: 78%;
			}
		}
		li.item_3{
			img{
				width: 93%;
			}
		}
		li.item_2{
			img{
				width: 68%;
				min-height: 57px;
			}
		}
		li.item_1{
			img{
				width: 98%;	
			}
		}
	}
	a.city{
		margin-right: 60px;
		text-decoration: none;
		position: relative;
		margin-left: 13px;
		svg{
			width: 13px;
			height: 17px;
			position: absolute;
			left: -21px;
			top: -3px;
			width: 13px;
			height: 17px;
			fill: @color_red;
		}
		span{
			border-bottom: 1px dashed @color_red;
		}
		&:hover{
			span{
				border-bottom: 1px dashed @color_orange;
			}
			svg{
				fill: @color_orange;
			}
		}
	}
	/*========USER BLOCK=======*/
	.user_block{
		padding-right: 30px;
		padding-top: 6px;
		height: 82px;
		position: relative;
		display: flex;
		flex-flow:row nowrap;
		justify-content:flex-end;
		align-items: center;
		font-size: 13px;
		line-height: 13px;
		font-family: 'Rubik';
		
		.user_autorization{
			a{
				margin-right: 2px;
				float: left;
				&:after{
					content: '';
					display: inline-block;
					vertical-align: top;
					background: #D4D4D4;
					margin-left: 5px;
					height: 15px;
					width: 1px;
					position: relative;
					top: -2px;
					margin-right: 3px;
				}
			}
			a:last-child{
				margin-right: 0;
				&:after{
					display: none;
				}
			}
		}
	}
	/*========TOP MENU=======*/
	.top_menu{
		display: flex;
		flex-flow:row nowrap;
		align-items: stretch;
		align-content:stretch;
		li{
			flex:1 0 auto;
			text-align: center;
			&:after{
				content: '';
				float: right;
				width: 1px;
				height: 21px;
				opacity: 0.5;
				background: @color_green;
				margin-top: -1px;
			}
			sup{
				font-size: 14px;
				color: @color_orange;
				top: -6px;
				left: 2px;
			}
			a{
				font-size: 15px;
				color: #000;
				font-family: 'Rubik';
				font-weight: 500;
				text-transform: uppercase;
				text-decoration: none;
				padding-bottom: 2px;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: @color_pink;
					transition: transform 0.3s;
					transform:scaleX(0);
				}
				&:hover{
					color: @color_red;
					&:after{
						transform:scaleX(1);
						display: block;
					}
				}
			}
		}
	}
	.search_button{
		width: 28px;
		height: 27px;
		display: block;
		float: right;
		margin-right: 15px;
		margin-top: -6px;
		svg{
			.st0{
				fill:none;
				stroke:@color_red;
				stroke-width:1px;
			}
		}
		&:hover{
			svg{
				.st0{
					stroke-width:1px;
					stroke:@color_orange;
				}
			}
		}
	}
	.mobile_logo{
		width: 77px;
		height: 29px;
	}
	.mobile_button{
		display: block;
		margin-top: 5px;
		cursor: pointer;
		span{
			display: block;
			width: 23px;
			height: 4px;
			background-color: #6a1b13;
			border-radius: 2px;
			margin-bottom: 4px;
			transition:transform 0.5s;
			
		}
		&.opened{
			span{
				&:nth-child(1){
					transform: rotate(45deg) translateY(8px) translateX(3px);
				}
				&:nth-child(2){
					transform: rotate(-45deg) translateY(-3px) translateX(-3px);
				}
				&:nth-child(3){
					display: none;
				}
			}
		}
	}
	.change_store{
		text-decoration: none;
		border-bottom: 1px dashed @color_red;
		position: relative;
		font-size: 13px;
		margin-top: 5px;
		float: right;
		&:hover{
			border-bottom: 1px dashed @color_orange;
		}
		
	}
	.user_profile{
		float: right;
		width: 13px;
		height: 17px;
		margin-right: 0px;
		margin-top: 4px;
		margin-left: 10px;
		svg{
			fill: @color_red;
		}
		&:hover{
			svg{
				fill: @color_orange;
			}
		}
	}
}
/*========SLIDER HOME TOP=======*/
.slider{
	padding: 0;
	position: relative;
	z-index: 999;
	
	.bx-viewport{
		padding-bottom: 35px;
		min-height: 130px;
		margin-top: -15px;
		padding-top: 15px;
	}
	.container{
		padding: 0;
		margin: auto;
		height: 100%;
		position: relative;
		
	}
	.row{
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: hidden;
	}
	ul{
		overflow: hidden;
		height: 110px;
		padding-left: 30px;
		padding-right: 30px;
	}
	li{
		height: 100%;
		position: relative;
		transition: 0s;
		-webkit-backface-visibility: hidden; 
		-webkit-perspective: 1000px;
		.image{
			position: absolute;
			width: 100%;
			height: 100%;
			box-shadow: 0px 12px 25px rgba(70,11,11, .3);
			transition: 0s;
			background-position: top center !important;
			background-size: normal !important;
		}
		.slide_content{
			position: relative;
			float: right;
			height: 100%;

			overflow: hidden;
			z-index: 2;
			.slide_image{
				z-index: 5;
				position: absolute;
				right: -50px;
				bottom: -50px;
				width: 160px;
				img{
					width: 100%;
					height: auto;
				}
			}
			.slider_text{
				min-height: 150px;
				background: #fff;
				position: absolute;
				bottom: -30px;
				padding-bottom: 45px;
				z-index: 4;
				left: 0;
				width: 120%;
				margin-left: -10px;
				margin-right: -10px;
				padding-left: 25px;
				padding-right: 55%;
				padding-top: 15px;
				display: flex;
				flex-flow:column nowrap;
				justify-content: center;
				.time{
					color: @color_orange;
					font-family: 'Rubik';
					font-size: 20px;
					font-weight: 500;
					line-height:22px;
					letter-spacing: 0;
					display: block;
					sup{
						font-size: 14px;
						top: -5px;
						left: -1px;
						letter-spacing: -0.5px;
						line-height: 18px;
					}
				}
				.title{
					color: #333;
					font-family: 'Rubik';
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}
	.bx-controls{
		position: relative;
		z-index: 2;
		margin-top: -2px;
		text-align: center;
		padding-bottom: 20px;
		.bx-pager {
			display: flex;
			flex-flow:row nowrap;
			justify-content: center;
			.bx-pager-item{
				a{
					display: block;
					font-size: 0;
					line-height: 0;
					width: 10px;
					height: 10px;
					margin-left: 10px;
					margin-right: 10px;
					border-radius: 20px;
					background-color: @color_green;
					border:2px solid transparent;
					&.active{
						position: relative;
						width: 18px;
						height: 18px;
						margin-top: -3px;
						margin-left: 5px;
						margin-right: 5px;
						border:2px solid #959595;
						background-color: transparent;
						z-index: 3;
						&:before{
							content: '';
							position: absolute;
							background: #959595;
							border-radius: 20px;
							width: 10px;
							left: 2px;
							top: 2px;
							height: 10px;
						}
					}
				}
			}
		}
	}
}
/*========RECEPTS=======*/
.recepts{
	padding-top: 5px;
	position: relative;
	.all_recepts{
		position: absolute;
		bottom: 20px;
		right: 30px;
		color: @color_green;
		text-decoration: none;
		font-family: 'Rubik';
		font-size: 16px;
		line-height: 18px;
		svg{
			display: inline-block;
			vertical-align: middle;
			width: 28px;
			height: 28px;
			margin-left: 15px;
			.st0{
				fill: @color_green;
				stroke:none;
			}
			.hover{
				display: none;
			}
		}
		&:hover{
			color: @color_red;
			svg{
				.st0{
					display: none;
				}
				.hover{
					fill: @color_red;
					stroke:none;
					display: block;
				}
			}
		}
	}
	.container-fluid{
		position: relative;
	}
	.recepts_slider{
		width: 100%;
		position: relative;
		height: 549px;
		overflow: hidden;
		.handle{
			display: flex;
			flex-flow:row nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			padding-top: 52px;
			padding-bottom: 50px;
			&.animated{
				.animate_bottom{
					transform:translateY(0px);
					transition:0.7s all;
				}
				.animate_top{
					transition:0.7s all;
					transform:translateY(0px);
				}
				.animate_right{
					transition:0.7s all;
					transform:translateX(0px);
				}
				.animate_left{
					transition:0.7s all;
					transform:translateX(0px);
				}
			}
		}
		.item{
			margin-left: 15px;
			width: 237px;
			position: relative;
			border-radius: 3px;
			box-shadow: 0 0 17px rgba(0, 0, 0, 0.15);
			transition:0.5s all;
			overflow: hidden;
			margin-bottom: 30px;
			&.animate_bottom{
				transform:translateY(300px);
			}
			&.animate_top{
				transform:translateY(-300px);
			}
			&.animate_right{
				transform:translateX(-300px);
			}
			&.animate_left{
				transform:translateX(300px);
			}
			&_image{
				transition:0.5s all;
				margin-top: 0;
				margin-bottom: 0;
			}
			&_text{
				position: absolute;
				background: #fff;
				bottom: 0;
				width: 100%;
				text-align: center;
				.item_title{
					padding-top: 25px;
					padding-bottom: 22px;
					color: @color_green;
					font-family: 'Rubik';
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					text-transform: uppercase;
					padding-left: 10px;
					padding-right: 10px;
				}
				.item_bar{
					display: flex;
					flex-flow:row nowrap;
					justify-content: center;
					padding-bottom: 5px;
					transition:0.5s all;
					.item_rating{
						span{
							display: inline-block;
							vertical-align: top;
							width: 17px;
							height: 15px;
							fill:#999;
							opacity: 0.2;
							&.active{
								opacity: 1;
							}
						}
						&:after{
							margin-left: 30px;
							content: '';
							display: inline-block;
							vertical-align: top;
							width: 1px;
							height: 15px;
							background-color: #ccc;
						}
					}
					.item_clock{
						margin-left: 25px;
						color: #999;
						font-family: 'Rubik';
						font-size: 13px;
						line-height: 14px;
						svg{
							width: 15px;
							height: 15px;
							float: left;
							margin-right: 11px;
							.st0{
								stroke:#999;
								fill:#999;
								stroke-width: 1;
							}
						}
					}
				}
			}
		}
		.vertical{
			margin-top: -30px;
			.item{
				width: 360px;
			}
		}
	}
}

/*========MAP=======*/
.map{
	height: 541px;
	h2{
		margin-bottom: 28px;
	}
	#map{
		height: 100%;
	}
}
.map_container{
	font-size: 16px;
	color: #000;
	font-family: 'Rubik';
	line-height: 22px;
	overflow: hidden;
	position: relative;
	padding: 5px;
	min-height: 267px;
	&:after{
		content: '';
		width: 0px;
		height: 0px;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-top: 24px solid rgba(0, 0, 0, 1);
		position: absolute;
		left: 50%;
		top: 100%;
	}
	img{
		display: none;
	}
	.item{
		margin-bottom: 17px;
		display: flex;
		flex-flow:row nowrap;
		padding-right: 15px;
		.icon{
			margin-right: 10px;
			width: 16px;
			padding-top: 2px;
			svg{
				width: 16px;
				fill:#333333;
				height: auto;
			}
		}
	}
	.icon_set{
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-flow:row wrap;
		align-items: center;
		svg{
			margin-right: 30px;
			width: 24px;
			height: auto;
			margin-bottom: 18px;
			fill: @color_red;
		}
		svg:nth-child(5n+5){
			margin-right: 0;
		}
	}
	.more_link{
		font-size: 14px;
		color: @color_green;
		&:hover{
			text-decoration: none;
			color: @color_orange;
		}
	}
}
.gm-style-iw-container {
	> div{
		position: relative;
		> div:first-child{
			display: none;
		}
		> div:nth-child(3) {
			left: auto !important;
			right: 5px !important;
			top: 50% !important;
			transform:rotate(-90deg);
			margin-top: 0px;
			div{
				box-shadow: none !important;
			}
		}
	}
}
.gm-style-iw{
	> div{
		max-width: 100% !important;
	}
}
/*========FOOTER=======*/
footer{
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
	.col_footer{
		padding-top: 19px;
		float: none;
		background-color: white;
		display: flex;
		flex-flow:column nowrap;
		justify-content: center;
		align-content: center;
		padding-bottom: 20px;
	}
	.logo_contain{
		padding-bottom: 18px;
		.phone{
			text-align: center;
			font-family: 'Rubik';
			line-height: 24px;
			font-size: 14px;
			color: #cccccc;
			span{
				font-size: 20px;
				font-weight: 500;
				display: block;
				color: #666;
			}
		}
	}
	.social_buttons{
		text-align: center;
		.hidden_phone{
			display: none;
		}
		.app_btn{
			text-align: left;
			display: inline-block;
			vertical-align: top;
			width: 135px;
			padding-top: 7px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			margin: auto;
			margin-left: 4px;
			margin-right: 4px;
			height: 42px;
			background-color: #f3f3f3;
			border-radius: 5px;
			color: #666;
			font-family: 'Rubik';
			line-height: 15px;
			font-size: 11px;
			text-decoration: none;
			margin-bottom: 15px;
			.icon{
				display: inline-block;
				vertical-align: top;
				width: 22px;
				svg{
					width: 21px;
					height: 25px;
					fill: #666;
				}
			}
			.text{
				padding-left: 15px;
				display: inline-block;
				vertical-align: top;
				span{
					display: block;
					font-weight: 500;
				}
			}
		}
		.social_list{
			display: flex;
			flex-flow:row nowrap;
			justify-content: center;
			a{
				display: block;
				width: 28px;
				height: 28px;
				margin-left: 15px;
				margin-right: 15px;
				svg{
					.st0{
						fill:#dddddd;
						stroke:none;
					}
					.st1{
						fill:none;
						stroke:#dddddd;
					}
				}
				&:hover{
					svg{
						.st0{
							fill:@color_red;
							stroke:none;
						}
						.st1{
							fill:none;
							stroke:@color_red;
						}
					}
				}
			}
		}
	}
}
.created_box{
	background: #E6E6E6;
	display: flex;
	flex-flow:ro nowrap;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	font-family: 'Rubik';
	font-size: 8px;
	color: #333333;
	.copyright{
		opacity: 0.5;
	}
	.created_by span{
		opacity: 0.5;
	}
	.logo_blackedia{
		display: inline-block;
		vertical-align: middle;
		width: 53px;
		height: 7px;
		margin-top: -2px;
		transition:0.5s all;
		svg{
			.st0{
				fill: #666;
				stroke:none;
			}
		}
		opacity: 0.5;
		&:hover{
			svg{
				.st0{
					fill: @color_orange;
				}
			}
			opacity: 1;
		}
	}
}
/*========BUTTON UP=======*/
.button_up{
	display: none;
}
/*========POPUP FORMS=======*/
.shadow_site{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999999;
	position: absolute;
	background: rgba(0,0,0, 0.9);
	display: none;
}
.popup_window{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	overflow: auto;
	display: none;
	.subtitle{
		color: #666;
		font-family: 'Rubik';
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 25px;
		&.strong{
			color: #000;
			font-weight: 500;
			a{
				border-bottom: 1px dashed @color_red;
				text-decoration: none;
				font-size: 13px;
				line-height: 12px;
				font-weight: normal;
				&:hover{
					border-bottom: 1px dashed @color_orange;
				}
			}
		}
	}
	&#popup_login{
		display: none;
	}
	&#popup_registration{
		display: none;
	}
	&#popup_registration_step{
		display: none;
	}
	.popup_container{
		text-align: center;
		padding: 15px;
		max-width: 810px;
		margin: 0 auto;
		top: 0;
		position: relative;
		z-index: 2;
		border-radius: 5px;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
		background: #fff;
		.close{
			width: 22px;
			height: 22px;
			position: absolute;
			right: 15px;
			top: 15px;
			cursor: pointer;
			opacity: 1;
			svg{
				.st0{
					stroke: @color_red;
				}
			}
			&:hover{
				svg{
					.st0{
					stroke: @color_orange;
					}
				}
			}
		}
		.title{
			text-align: center;
			color: black;
			font-family: 'Rubik';
			font-size: 22px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 23px;
			padding-top: 16px;
		}
		.link_reg, .link_lostpassword{
			display: inline-block;
			vertical-align: top;
			margin-bottom: 20px;
			border-bottom: 1px dashed @color_red;
			text-decoration: none;
			font-size: 13px;
			line-height: 14px;
			&:hover{
				border-bottom: 1px dashed @color_orange;
			}
		}
		.link_lostpassword{
			font-size: 14px;
		}
		.field{
			position: relative;
			margin:0 auto;
			max-width: 360px;
			margin-bottom: 22px;
			color: #666;
			text-align: left;
			label:first-child{
				display: block;
				font-family: 'Rubik';
				font-size: 16px;
				font-weight: 400;
				line-height: 18px;
				text-align: left;
				margin-bottom: 8px;
			}
			input{
				width: 100%;
			}
		}
		.password_contain{
			position: relative;
			.show_password{
				position: absolute;
				right: 15px;
				top: 15px;
				width: 24px;
				height: 15px;
				svg{
					fill: @color_gray;
				}
				&:hover, &.active{
					svg{
						fill: @color_red;
					}
				}
			}
		}
		input[type=submit]{
			display: block;
			margin:0 auto;
		}
	}
}
@import "responsive";



/*
.test{
	width: 50px;
	height: 50px;
	outline: 10px solid green;
	background-color: #68170f;
	mask:url(../img/icon_search.svg) center no-repeat;
	fill: currentColor;
} */
