<p>В день рождения <br>
						<strong class="big">+15 баллов</strong> </p>

						<p>Новый год, 8 марта/23 февраля, 9 мая <br>
						<strong class="big">+10 баллов</strong> </p>

						<p><strong>«Преданность бренду»</strong> <br>
						Приходишь в Холидей в неделю 1 – пока ничего, в неделю 2 – 2 балла бонуса, неделя 3 – 3 балла бонуса и т.д. Пропустил неделю – всё с нуля (под вопросом пока)</p>

						<p>Вступил в группу в соц сетях/подписался на новости/подписался на акции <br>
						<strong class="big">+10 баллов</strong> (единоразово)</p>

						<p>Повышенные бонусы на отдельные группы товаров</p>

						<p><strong>Дополнительный балл за количество одинакового товара в чеке</strong> <br>
						(например, 3 пакета молока + 2 балла, 5 пакетов + 4 балла)</p>

						<p><strong>Дополнительны бонусы за размер чека</strong> <br>
						(дополнительно 5 баллов, шаг – 1000 рублей)</p>

						<p>Потратить накопленные бонусы можно, расплатившись этими бонусами из расчета <br>
						1 балл = 1 рубль</p>